/* General Styles */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f9;
  color: #333;
}

/* Header Styles */
.header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__info,
.header__hobbys {
  width: 100%;
  margin: 1rem 0;
}

.header__info a,
.header__info p {
  display: block;
  color: white;
  margin: 0.4rem 0;
}

.header__hobbys ul {
  list-style-type: none;
  padding: 0;
}

.header__hobbys li {
  margin: 0.2rem 0;
}

/* Main Content Styles */
main {
  padding: 2rem;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}

section {
  margin-bottom: 2rem;
}

h2 {
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;
}

.summary p {
  margin: 0;
}

.experience__item,
.education__item,
.volunteer__item,
.project__item {
  margin-bottom: 1.5rem;
}

.position,
.technologies {
  margin-left: 1rem;
}

.technologies {
  list-style-type: disc;
}

.project__item a {
  color: #007acc;
  text-decoration: none;
  margin-top: 0.5rem;
  display: inline-block;
}

.project__item a:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media (min-width: 768px) {
  body {
    flex-direction: row;
  }

  .header {
    position: sticky;
    height: calc(100vh - 4rem);
    top: 0;
    justify-content: flex-start;
    padding: 2rem;
    text-align: left;
    min-width: 250px;
  }

  .header__info,
  .header__hobbys {
    align-items: flex-start;
  }

  .header__hobbys {
    margin-top: auto;
  }
}
